[user]
	user = ptome
	name = Paulo Tomé
	email = paulo.tome@siscog.pt
	signingkey = 4C07521D8B059211
[gui]
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = \"c:/siscog-dev-tools/emacs-25.2-x86_64/bin/emacsclientw.exe\"
	autocrlf = false
	createObject = link
	attributesfile = ~/.gitattributes
	trustctime = false
	excludesfile = ~/.gitignore_global
	filemode = false
[diff]
	tool = emacs-tool
	guitool = emacs-tool
	renamelimit = 0
[diff "lisp"]
	xfuncname = ^\\(([^ ]+ [^ \\)]+)
[diff "strings"]
	textconv = \"c:\\WINDOWS\\strings.exe\"
	cachetextconv = true
[difftool "emacs-tool"]
	cmd = cmd //c c:/siscog-dev-tools/emacs-tool/emacs-tool.bat $LOCAL $REMOTE $BASE
[merge]
	tool = emacs-tool
	guitool = emacs-tool
[merge "mash"]
	name = The most amazing merge in my network
	driver = ~/mash/mash %A %O %B %A
[mergetool]
	keepBackup = false
[mergetool "emacs-tool"]
	cmd = cmd //c c:/siscog-dev-tools/emacs-tool/emacs-tool.bat $LOCAL $REMOTE $BASE $MERGED
	trustExitCode = false
[push]
	default = tracking
[branch]
	autosetuprebase = always
	autoSetupMerge = always
[github]
	user = paulotome
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate
	filelog = log -u
	fl = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	dr = "!f() { git diff "$1"^.."$1"; }; f"
	lc = "!f() { git ll "$1"^.."$1"; }; f"
	diffr = "!f() { git diff "$1"^.."$1"; }; f"
	f = "!git ls-files | grep -i"
	grep = grep -Ii
	gr = grep -Ii
	gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"
	la = "!git config -l | grep alias | cut -c 7-"
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	sl = stash list
	sa = stash apply
	ss = stash save
	pu = !"git fetch origin -v"
	pul = pull
	ff = merge --ff-only
	p = pull
	st = status
	f = fetch
[i18n]
	commitEncoding = utf8
	logOutputEncoding = utf8
[sendemail]
	smtpencryption = tls
	smtpserver = mail2.siscog.com
	smtpuser = ptome@siscog.pt
	smtpserverport = 465
[credential]
	helper = !\"C:/siscog-dev-tools/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
